aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.7.1
bs4==0.0.1
colorama==0.4.1
discord==1.0.1
discord.py==1.2.3
dnspython==1.16.0
docutils==0.15.2
future==0.17.1
python-etcd==0.4.5
redis==3.2.1
requests==2.22.0
requests-futures==1.0.0
toml==0.10.0
torrequest==0.1.0
typed-ast==1.4.0
urllib3==1.25.3
websockets==6.0
